.body-index{}
.index-banner {
    width: 100%;
    position: relative;
  }
  
  .el-carousel {
    width: 100%;
    text-align: center;
  }
  .carousel-inner {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .carousel-inner .txt-box {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: #fff;
  }
  .carousel-inner .txt-box h3 {
    font-size: 66px;
    padding: 100px 0 0 0;
    margin: 0;
  }
  .carousel-inner .txt-box h4 {
    font-size: 40px;
    margin: 20px 0 0 0;
  }
  .carousel-inner .txt-box p {
    margin-top: 20px;
  }

.el-carousel__indicators {
    bottom: 50px;
}
// .notice_line_bx{ line-height: 40px; font-size: 14px; color: #222; background: #f2f6f9; text-align: center; }
.notice_line_bx {
    position: relative;
    background-color: rgba(16, 29, 56, 0.62);
    color: #fff;
    height: 46px;
    line-height: 46px;
    margin-top: -46px;
    z-index: 99;
}
.notice_line_bx .icon-gonggao{position: absolute;left:15px;font-size: 18px; width: 20px;
    top: 13px;}
.notice_line_bx .container{padding-left: 40px;}
.notice_line_bx ul {
    float: left;
    margin: 0;
    padding: 0;
}
.notice_line_bx li {
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 190px;
    padding-right: 20px;
}
.notice_line_bx .more {
    float: right;
    color: #1E97EE;
}
.notice_line_bx .more i {
    font-size: 24px;
    margin-left: 10px;
    vertical-align: middle;
    color: #fff;
}
.coop_partner_bx{background: #fff;}
.coop_partner_bx ul{margin: 0;}
.coop_partner_bx ul,.coop_partner_bx li {
    list-style: none;
    padding: 0;
}
.coop_partner_bx li{
    width: 19%;
    float: left;
    text-align: center;
    padding: 0px 0;
}
.coop_partner_bx li a{
    display: block;
}
// .coop_partner_bx li:first-child{text-align: left;width: 15%;}
// .coop_partner_bx li:last-child{text-align: right;width: 13%;}
.coop_partner_bx li img{height:90px;}
.all_market_bx {
    position: relative;
    min-height: 728px;
}
.all_market_bx_bg{
    //background: url(/img/gregBG.a8cf9597.png) no-repeat center top;
    //background-size: 100% 700px;
    height: 700px;
    position: absolute;
    width: 100%;
}
.all_market_bx .top {
    padding-top: 92px;
}
.all_market_bx .top-item-block{
    float: left;
    width: 20%;
    box-sizing: border-box;
    margin: 0px auto 25px;
}
.all_market_bx a{
    //background-color: #ffccff;
    float: left;
    width: 90%;
    height: 124px;
    background:rgba(249,251,252,1);
    border-radius: 6px;
    margin: 0 auto;
    display: block;
    box-shadow: 2px 10px 34px rgba(0, 0, 0, 0.07);
}
.all_market_bx .top-item {
    background:url(../assets/img/index/bg-market-block.png) no-repeat bottom center;padding: 0 30px;box-sizing: border-box;
}
.all_market_bx .top-item p {
    margin: 0;
}
.all_market_bx .top-item .desc {
    color: #9aaabd;
    font-size: 14px;
    margin-top: 24px;
}
.all_market_bx .top-item .number {
    font-size: 24px;
    margin: 5px 0 15px 0;
}
.all_market_bx .top-item .rate {
    color: #fff;
    font-size: 10px;
}
.all_market_bx .top-item .rate span {
    height: 16px;
    line-height: 16px;
    padding: 4px 5px 2px 5px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
.all_market_bx .top-item-red .number {
    color: #6ABE83;
}
.all_market_bx .top-item-red .rate span {
    background-color: #6ABE83;
}
.all_market_bx .top-item-green .number {
    color: #FF4536;
}
.all_market_bx .top-item-green .rate span {
    background-color: #FF4536;
}
.OTC_market_bx {
    text-align: center;
    color: #9aaabd;
    margin-top: 50px;
}
.OTC_market_bx .title {
    color: #073D7D;
    font-size: 48px;
}
.OTC_market_bx .subtitle {
    font-size: 21px;
    margin-bottom: 40px;
    margin-top: 10px;
}
.OTC_market_bx .card-box {
    width:280px;
    min-height:410px;
    border:1px solid rgba(219,219,219,1);
    background: #fff;
    position: relative;
}
.OTC_market_bx .card-cnmh{min-height: 100px;}
.OTC_market_bx .card-box h4 {
    position: relative;
    color: #073D7D;
    font-size: 21px;
    margin: 0 0 18px 0;
    padding-bottom: 10px;
}
.OTC_market_bx .card-box h4:after {
    position: absolute;
    left: 15px;
    right: 15px;
    bottom: 0;
    content: '';
    height: 1px;
    background-color: #DCDCDC;
    font-size: 0;
}
.OTC_market_bx .card-box p {
    margin: 5px 0;
    line-height: 22px;
}
.OTC_market_bx .card-box .img img{
    width: 100%;
}

.OTC_market_bx .card-box .el-button {
    border: 1px solid #0A89FB;
    width: 110px;
    height: 32px;
    line-height: 32px;
    padding: 0;
    margin-top: 20px;
}
.OTC_market_bx {
    div {
        .el-row{
            position: relative;
            .bottom {
                position: absolute;
                left: 50%;
                margin-left: -55px;
                bottom: 30px;
            }
        }
    }
}

.company_intro_bx{
    text-align: center;
    margin-top: 50px;
    background: #fff;
    padding-top: 60px;
}
.company_intro_bx .el-tabs__nav{width: 100%;}
.company_intro_bx .el-tabs__header{width: 100%;}
.company_intro_bx .el-tabs__item{
    width: 16.66%;
    height: 164px;
    vertical-align: middle;
    display: block;
    float: left;
}
.company_intro_bx .el-tabs__nav .grid-content div{display: block;margin: 0 auto}
.company_intro_bx .el-tabs__nav .grid-content p{margin: 15px auto;}
.main_market_bx{}
.main_market_bx{}

.company_intro_bx .title {
    color: #073D7D;
    font-size: 48px;
}
.company_intro_bx .subtitle {
    font-size: 21px;
    margin-bottom: 50px;
    margin-top: 10px;
    color: #9aaabd;
}
.company_intro_bx .grid-content {
    color: #073D7D;
    font-size: 18px;
}
.company_intro_bx .grid-content div {
    display: table-cell;
    vertical-align: middle;
    width: 90px;
    height: 70px;
    text-align: center;

}

.company_intro_bx .grid-content div img {
    display: block;
    margin: 0 auto;
    padding: 8px;
    transition: all .5s;
    -webkit-transition: all .5s; /* Safari */
}
.company_intro_bx .grid-content:hover div img{
    cursor: pointer;
    transform: scale(1.2);
    -ms-transform:scale(1.2);     /* IE 9 */
    -moz-transform:scale(1.2);     /* Firefox */
    -webkit-transform:scale(1.2); /* Safari 和 Chrome */
    -o-transform:scale(1.2);
}
.company_intro_bx .grid-content p {
    white-space: normal;
    text-align: center;
    line-height: 30px;
}
.text_intro_bx .container {
    color: #9aaabd;
    width: 738px;
    font-size: 16px;
    padding-top: 50px;
    min-height: 220px;
    line-height: 28px;
}
.text_intro_bx{}

.body-index .app_download_bx {
    //background: url(../assets/img/index/appbg.png) no-repeat center;
    //background-size: cover;
    background: #fff;
    position: relative;
}

.body-index .app_download_bx .title{color: #073D7D;font-size: 26px;text-align: center;}
.body-index .app_download_bx .subtitle{color: #9aaabd;font-size: 16px;margin-bottom: 38px;margin-top: 10px;}
.body-index .app_download_bx .container {
    position: relative;
    height: 100%;
    text-align: center!important;
    li {
        text-align: center!important;
    }
}
.body-index .app_download_bx .img-box {
    position: absolute;
    bottom: -18px;
    left: 116px;
}
.body-index .app_download_bx .txt-box {
    padding-top: 16px;
    //padding-left: 660px;
    padding-right: 50px;
    padding-bottom: 30px;
    width: 568px;
    float: right;
}
.body-index .app_download_bx .txt-box span {
    position: relative;
    margin:0 10px;
    height: 40px;
    display: inline-block;
}
.body-index .app_download_bx .txt-box .qrcode {
    position: absolute;
    top: -120px;
    right: -24px;
    height: 120px;
    width: 120px;
    background-color: #fff;
    font-size: 16px;
    text-align: center; 
    color:#073D7D;
    line-height: 1.8;
}
.body-index .app_download_bx .txt-box .qrcode img {
    height: 84px;
    width: 84px;
}
.body-index .app_download_bx{}

.notice_line_bx a{color: #459EF6;}
.all_market_bx .el-tabs__header{margin-bottom: 0;}
.all_market_bx{}
.list_market_bx{margin-top: 40px;}
.list_market_bx .el-table{color: #9aaabd;}
.list_market_bx .el-tabs__content{box-shadow:2px 14px 42px rgba(0, 0, 0, 0.09);}
.list_market_bx .el-tabs--card>.el-tabs__header .el-tabs__nav{border: 0;}
.list_market_bx .el-tabs--card>.el-tabs__header .el-tabs__item{background: #FDFDFE;vertical-align: bottom;padding: 0 30px;color: #B3C3D7;
    height: 46px;line-height: 46px;display: inline-block;}
.list_market_bx .el-tabs--card>.el-tabs__header .el-tabs__item.is-active{   color: #459EF6;
    height: 50px;line-height: 50px;}
.list_market_bx .el-table .cell,
.list_market_bx .el-table th div,
.list_market_bx .el-table--border td:first-child .cell,
.list_market_bx .el-table--border th:first-child .cell{padding-left: 30px;}
.list_market_bx .el-table td,
.list_market_bx .el-table th.is-leaf{border-bottom: 0;padding: 15px 0;}
.list_market_bx .el-table th.is-leaf{background: #FDFDFE;color:#B3C3D7;}
.list_market_bx .icon-up-down{}
.list_market_bx .icon-up-down i{display: inline-block;}
.list_market_bx .up-down-td.up{color:#6ABE83;}
.list_market_bx .up-down-td.down{color:#FF4536;}
.list_market_bx .up-down-td.down .icon-up-down i{transform: rotate(180deg);}
.el-carousel.el_index_banner .el-carousel__container{max-height: 1080px;height: calc(100vh - 60px);}

.anim{margin: 0;padding: 0;}

.el-table__header{max-width: 100% !important;width: 100% !important;}
.card-box .pay-method{padding-bottom: 52px;}

@media screen and (max-width: 1280px) {
    .coop_partner_bx li{width: 20%;text-align: center;box-sizing: border-box;padding: 0 5px;}
    .coop_partner_bx li a{height: 80px;line-height: 80px;}
    .coop_partner_bx li img{max-width: 100%;max-height: 100%;vertical-align: middle;}

    .all_market_bx .top{padding-top: 72px;}

    .OTC_market_bx .card-box{width: 100%;}
}

@media screen and (max-width: 991px) {
    .all_market_bx .top-item-block{width: 33.33%;}
    .el-col-6{width: 50%;margin-bottom: 20px;}
    .body-index .app_download_bx .img-box{position: static;}
    .OTC_market_bx .title,
    .company_intro_bx .title{font-size: 28px;}
    .OTC_market_bx .subtitle,
    .company_intro_bx .subtitle{font-size: 16px;}
}

@media screen and (max-width: 767px) {
    .black-style.white-style .el-carousel.el_index_banner .el-carousel__container{height: 300px;}
    .coop_partner_bx li a{height: 40px;line-height: 40px;}
    .all_market_bx .top{padding-top: 40px;}
    .all_market_bx .top-item-block{width: 50%;}
    .list_market_bx .el-tabs--card > .el-tabs__header .el-tabs__item{padding: 0 10px;font-size: 12px;}
    .el-tabs__content{overflow-x: auto;}
    .all_market_bx .el-tab-pane{width: 700px;}
    .el-col-6{width: 100%;}
    .company_intro_bx{padding-top: 10px}
    .company_intro_bx .el-tabs__item{width: 33.33%;height: auto;}
    .el-tabs__nav-wrap::after{display: none;}
    .el-tabs__active-bar{display: none;}
    .text_intro_bx .container{width: 100%;padding-top: 20px;padding: 0;}
    .app_download_bx{padding-top: 20px;}
    .app_download_bx .img-box img{width: 100%;}
    .body-index .app_download_bx .txt-box{width: 100%;padding-right: 0;}
    .body-index .app_download_bx .txt-box span{width: 96px;height: auto;margin: 0 5px;}
    .body-index .app_download_bx .txt-box span img{width: 100%;height: 30px;}
    .company_intro_bx .el-tabs__nav .grid-content p{font-size: 14px;}
    .company_intro_bx .grid-content .img{height: 60px;display: flex;justify-content: center;align-items: center;}
    .company_intro_bx .grid-content div img{max-width: 50%;max-height: 50%;}
}